html {
  border: 5px solid black;
}
.parent {
  height: 500px;
  width: 800px;
  border: 2px solid red;
  position: relative;
  padding: 20px;
}
.child {
  height: 400px;
  width: 500px;
  border: 2px solid blue;
}
img {
  position: absolute;
  top: 10px;
  left: 10px;
}
