.cart {
  width: 800px;
  box-shadow: 0 0 10px black;
  margin: 50px auto;
}
.cart table {
  width: 100%;
}
.cart th {
  padding: 20px;
  background-color: black;
  color: white;
}
.cart td {
  padding: 10px;
}
.cart button {
  padding: 13px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
}
