* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.useRefStyles {
  padding: 50px;
}
.useRefStyles h1 {
  margin-bottom: 20px;
}
.useRefStyles button {
  margin-right: 20px;
  padding: 13px 25px;
}
