* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.useRefStyles,
.useReducerStyle {
  padding: 50px;
}
.useRefStyles h1,
.useReducerStyle h1 {
  margin-bottom: 20px;
}
.useRefStyles button {
  margin-right: 20px;
  padding: 13px 25px;
}

.useReducerStyle button {
  margin-right: 20px;
  padding: 11px 25px;
}
