#categories {
  margin: 30px auto;
  width: 1200px;

  height: 130px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.category {
  text-align: center;
}
.category img {
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}

.category img:hover {
  border: 3px solid green;
}
.category:hover {
  color: green;
}

.product-card {
  width: 330px;
  padding: 10px;
  box-shadow: 0 0 10px green;
  margin: 10px 0px;
  text-align: center;
}
.product-card h3 {
  color: green;
  margin-top: 20px;
  margin-bottom: 15px;
}
.product-card p {
  margin-bottom: 20px;
}
#pd {
  padding: 15px 20px;
  border: none;
  background-color: rgb(136, 70, 12);
  color: white;
  border-radius: 10px;
  margin-right: 20px;
}
#addcart {
  padding: 15px 20px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 10px;
  margin-right: 20px;
}
#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.outOfStock {
  text-align: center;
  color: red;
  margin: 100px 0px;
  text-shadow: 0 0 25px black;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 1200px;
  height: 470px;
  margin: 20px auto;
  box-shadow: 0 0 10px black;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://img.freepik.com/premium-photo/ecommerce-background_965427-2217.jpg?w=2000");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.brand h1 {
  font-size: 72px;
  color: yellow;
}
.brand p {
  font-size: 17px;
  font-family: cursive;
  width: 1000px;
  text-align: center;
}
